<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.doublehh.system.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="cn.doublehh.system.model.UserRole" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, user_id, role_id
  </sql>
  <delete id="deleteUserRolesByUserId" parameterType="java.lang.Integer" >
    delete from t_s_user_role
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteRoleUsersByRoleId" parameterType="java.lang.Integer" >
    delete from t_s_user_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
</mapper>